#error-message {
	margin-top: 15px;
}

div#tab-content {
	border: 1px solid #4e5d6c;
	border-top-width: 0px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

@media (max-width: 767px) {
	.page-header {
		margin-top: 0px;
	}

	.page-header h1 {
		margin-top: 5px;
		text-align: center;
	}
}

.col-centered {
	float: none;
	margin: 0 auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size: 14px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(255,255,255,0.04);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/* Override some stuff from the Superhero bootstrap theme  */

label, .radio label, .checkbox label, .help-block {
    font-size: inherit;
}

ul.dropdown-menu .bg-warning {
	background-color: rgba(255,150,0,0.25);
}

ul.dropdown-menu .bg-warning:hover, ul.dropdown-menu .bg-warning:focus{
	background-color: rgba(255,150,0,0.5);
}

.dropdown-menu > li > a {
    font-size: inherit;
}

.nav-tabs {
	border-bottom: 1px solid #4e5d6c;
}

.nav-tabs>li.active>a {
	border-bottom-color: transparent;
}

.alert a {
	color: #1552b1;
	font-weight: bold;
}

.text-muted {
	color: #a9a9a9;
}

input, textarea {
    color: inherit;
}
